.track-analysis-input {
  background-color: #212121;
  border: none;
  border-radius: 2em;
  color: #b3b3b3;
  font-size: 1.25rem;
  height: 3em;
  width: 400px;
  padding: 1em 2em 1em 2.75em;
  caret-color: white;
}

.track-analysis-input:focus {
  outline: 2px solid white;
}

.track-analysis-input:hover {
  border: 1px solid #535353;
  color: white;
}

.track-analysis-input--form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 2em;
}

.track-analysis-input--label {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.track-analysis-input--input-wrapper {
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.track-analysis-input--submit {
  border-radius: 1.5em;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
  width: 7em;
  padding: 1em;
}

.canvas--container {
  display: flex;
  justify-content: center;
}

.canvas--video {
  width: 430px;
}

.fa-magnifying-glass {
  position: absolute;
  font-size: 1.25rem;
  color: inherit;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

@media (min-width: 768px) {

  .track-analysis-input {
    width: 500px;
  }

  .track-analysis-input--label {
    font-size: 2rem;
  }

  .fa-magnifying-glass {
    left: 4%;
  }

}

@media (min-width: 1080px) {
  
  .track-analysis-input {
    width: 768px;
  }

  .fa-magnifying-glass {
    left: 3%;
  }

}

@media (max-width: 470px) {
  
  .track-analysis-input {
    width: 200px;
  }

}