.left-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 3.5em;
  background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.8), #121212);
}

.nav-menu--main {
  display: grid;
  grid-template: 1fr / 33% 33% 33%;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.nav-menu--link {
  color: #b3b3b3;
  text-decoration: none;
}

@media (min-width: 768px) {

}